.full-container {
  width: 100%;
  float: left;
  text-align: center;
}

#Video {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
}

.header-content {
  background-color: white;
  width: 960px;
  margin: 0px;
  display: inline-block;
  position: relative;
}

.border-container {
  padding: 41px;
  background-color: white;
  float: left;
  width: 100%;
  margin: 0px;
  position: absolute;
  border-bottom: 2px solid gray;
}

h1 {
  margin: 0px;
  padding: 26px;
  background-color: #4aaaa5;
  width: 15%;
  color: white;
  font-size: 25px;
  float: left;
}

.nav {
  background-color: white;
  width: 3%;
  padding: 35px 30px 20px 30px;
  float: right;
  color: grey;
  text-decoration: inherit;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.aboutme-container {
  background-color: white;
  width: 960px;
  margin: 0px;
  display: inline-block;
  text-align: left;
  position: relative;
  border: 2px solid gray;
}

.aboutmecontent {
  width: 95%;
  display: inline-block;
  text-align: left;
  margin: 20px;
}

h2 {
  margin-top: 15px;
  padding-bottom: 20px;
  text-align: left;
  font-size: 23px;
  color: #4aaaa5;
  width: 100%;
  border-bottom: 2px solid gray;
}

#paul {
  box-align: left;
}

.bio-description {
  float: right;
}

body {
  margin: 0px;
}
