.header {
  background-color: #ffffff;
  padding: 10px;
}

.title {
  background-color: #4aaaa5;
  width: 18%;
  padding: 30px;
  margin: 0px 200px; 
  color: white;
  font-size: 25px;
  border
}

body {
  margin: 0px; 
}
